
*{
  margin: 0px;
}


.top-container {
  width: 100%;
  margin: 0px;
  text-align: center;
  border-style: dashed;
  border-color: white;
  border-spacing: 10px;
  background: repeating-linear-gradient(
  to right,
  green,
  green 40px,
  #ff0000 40px,
  #ff0000 80px
);
}
.title {
  font-family: cursive;
  text-shadow: 2px 2px 8px white;
  font-weight: bold;
  font-size: 72px;
  background-color: #ff0000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-color: white;
}
/*.santa-div{
  background-color: lightgreen;
  text-align: center;
}
*/
/*
.santapic{
  background-color: lightgreen;
  width: 300;
  height: 100;

  -webkit-transform:rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}
*/
.santapicL{
  background-color: #ff0000;
  width: 270;
  height: 90;
  float:left;
  margin-left: 200px;
  margin-top: 40px;

  -webkit-transform:rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}
.santapicR{
  background-color: #ff0000;
  width: 270;
  height: 90;
  float:right;
  margin-right: 200px;
  margin-top: 40px;

  -webkit-transform:rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}

.gamecanvas{
  /*width: 1000;
  height: 1000;
  */
  margin: 50px;
  margin-bottom: auto;
  border-style: double;
  border-color: white;
}

/*
.container{
  width:800px;
  margin:auto;
  background: repeating-linear-gradient(
  to right,
  #ff0000,
  #ff0000 40px,
  green 40px,
  green 80px
  );
  border-left: dashed;
  border-right: dashed;
  border-color: white;
  text-align: center;
  align-items: center;
}
*/

.tab-container{
  height:50px;
}

.tabbut{
  width:50%;
  float: left;
  padding: 0px;
  padding-top: 0px;
  box-sizing: border-box;
}
.tab-button{
  width: 100%;
  background-color: #AAA;
  height: 30px;
  margin: auto;
  padding-top: 10px;
  font-family: 'Fugaz One', cursive;
  color:#222;
  cursor: pointer;
  text-align: center;
}
.tab-button:hover{
  background-color: #CCC;
  color:#222
}

.tab-active{
  background-color: #fAA!important;
  color: #555!important;
}

.game-container{
  width: 100%;
  background: repeating-linear-gradient(
    to right,
    #ff0000,
    #ff0000 40px,
    green 40px,
    green 80px
    );
  /* border-left: dashed;
   border-right: dashed;*/
  border-color: white;
  text-align: center;
  align-items: center;
  padding-bottom:  50px;
  min-height: 50px;
  margin: auto;

}

.highscore-container{
  display: none;
}

.intro-popin-container{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0, 7)
}

.intro-popin{
  width:33%;
  margin: auto;
  position: relative;
  height: 66%;
  background-color: #fff;
  background-image: url("../images/xmas-snake.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%;
  margin-bottom: 5%;
}

.play-button-container{
  width: 100%;
  height: 45px;
  padding: 0px;
  position: absolute;
  bottom: 20px;
  box-sizing: border-box;
  text-align: center;

}

.play-button {
  width: 50%;
  height: 30px;
  background-color: #222;
  margin: auto;
  color: #fff;
  padding-top: 10px;
  font-family: 'Fugaz One', cursive;
  cursor: pointer;
}

.main{
  height: auto;
  width: 100%;
  background: repeating-linear-gradient(
  to right,
  #ff0000,
  #ff0000 40px,
  green 40px,
  green 80px
);
border-left: dashed;
border-right: dashed;
border-color: white;
text-align: center;
align-items: center;
}
