
*{
  margin: 0px;
}


.top-container {
  margin: 0px;
  text-align: center;
  border-style: dashed;
  border-color: white;
  border-spacing: 10px;
  background: repeating-linear-gradient(
  to right,
  green,
  green 40px,
  #ff0000 40px,
  #ff0000 80px
);
}
.title {
  font-family: cursive;
  text-shadow: 2px 2px 8px white;
  font-weight: bold;
  font-size: 72px;
  background-color: #ff0000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-color: white;
}
.santa-div{
  background-color: lightgreen;
  text-align: center;
}
/*
.santapic{
  background-color: lightgreen;
  width: 300;
  height: 100;

  -webkit-transform:rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}
*/
.santapicL{
  background-color: #ff0000;
  width: 270;
  height: 90;
  float:left;
  margin-left: 200px;
  margin-top: 40px;

  -webkit-transform:rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}
.santapicR{
  background-color: #ff0000;
  width: 270;
  height: 90;
  float:right;
  margin-right: 200px;
  margin-top: 40px;

  -webkit-transform:rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg);
}

.gamecanvas{
  width: 500;
  height: 500;
}

.main{
  background: repeating-linear-gradient(
  to right,
  #ff0000,
  #ff0000 40px,
  green 40px,
  green 80px
);
}
